PL1_Raw_to_Land.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Raw"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "Sales_LKHS",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "d18d833d-a581-a776-4fb4-4c59e148da5c",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "AzureBlobStorageReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false,
            "modifiedDatetimeStart": "2026-06-17T00:00:00Z",
            "modifiedDatetimeEnd": "2026-06-18T00:00:00Z"
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Raw_Land_Info",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Raw_Land_Info').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "e5a500cc-c24f-87a2-4f39-68a11d21c3cb",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "raw_filename": {
                    "value": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "landing_date": {
                    "value": {
                      "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "NB1_R_to_L",
              "dependsOn": []
            }
          ]
        },
        "name": "Iterate each item",
        "dependsOn": [
          {
            "activity": "Raw_Land_Info",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}